body {
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    padding: 0;
}

h1 {
    margin-top: 60px;
    color: #525252;
}

.logo {
    display: block;
    width: 380px;
    margin: 10px auto 0 auto;
}

.anmelde-container {
    background-color: #ffffff;
    border-radius: 8px;
    width: 400px;
    padding: 40px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 0.1);
}

.login-input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #8d8c8c;
    border-radius: 4px;
}


.anmelde-button {
    background-color: #183b6c;
    color: #ffffff;
    font-size: 14px;
    width: 25%;
    height: 40px;
    padding: 0;
    margin: 10px 0;
    border: 1px solid #4768b057;
    border-radius: 4px;
    cursor: pointer;
}

.kennwort-vergessen {
    display: block;

    font-size: 14px;
    color: #0b0936;
    text-decoration: none;
}

/* FOOTER */
.fußzeile {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px 30px;
    box-sizing: border-box;
    background: white;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    font-size: 12px;
    color: #555;
    z-index: 1000;
}

.fußzeile a {
    color: #3d21d9;
    text-decoration: none;
}